html, body {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lt_container {
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 55px;
}
img {
    display: block;
    width: 100%;
}

/* ---------------header-------------- */
.lt_header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: #069;
    padding: 0 45px;
    overflow: hidden;
}
.lt_header .icon_left,
.lt_header .icon_right {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
}
.lt_header .icon_left {
    left: 0;
}
.lt_header .icon_right {
    right: 0;
}
.lt_header h3 {
    line-height: 45px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

/* ---------------footer-------------- */
.lt_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #069;
}
.lt_footer li {
    float: left;
    width: 25%;
}
.lt_footer li a {
    display: block;
    padding-top: 8px;
    color: #fff;
    text-align: center;
}
.lt_footer li a.current {
    color: orange;
}
.lt_footer li p {
    color: #fff;
    margin: 0;
}
.lt_footer li a.current p {
    color: orange;
}

/* ---------------main-------------- */
.lt_main {
    width: 100%;
    height: 100%;
    /* 由于mui内部基于定位实现的区域滚动
    所以外层.lt_main必须加定位, 控制显示区域 */
    position: relative;
}